// instructions on how to edit this file manually...

// all comments must be on their own line - don't try: "command-prefix": "" // comment

{
	// command prefix (on windows 'cmd /c', could also add 'grails' in front of all cmds)
	"command-prefix": "",

	"buttons": 
	[
		{ "name": "Run", "command": "grails run-app" },
		{ "name": "Clean", "command": "grails clean" },
		{ "name": "Compile", "command": "grails compile" },
		{ "name": "Test", "command": "grails test-app unit:spock integration:spock" },
		{ "name": "Plugins", "command": "grails list-plugins" },
		//{ "name": "Installed", "command": "grails list-plugins -installed" },
		{ "name": "Updates", "command": "grails list-plugin-updates" },
		//{ "name": "War", "command": "grails war" },
		{ "name": "Stats", "command": "grails stats" },
		//{ "name": "Help", "command": "grails help" }
		//{ "name": "Version", "command": "grails -version" }
	],

	//"project-directory": "c:/eclipse_grails/temp"
	//"project-directory": "/home/administrator/workspace-sts/Temp"
	"project-directory": "",

	// what was manually typed into the command entry combo box
	"manual-commands":
	[ 
		""
	]

}