// note this is a modified JSON structure which allows comments starting with '//'
//
// info on settings in this file:
//
// "os-command-prefix"
//	- on windows this will be set to 'cmd /c'.
//
// "command-prefix"
//	- default is to set all commands to start with 'grails'.  
// 	- can remove this for more flexibility, or specify full path to grails in lieu of
//	setting GRAILS_HOME var if working with multiple versions of grails on the same machine.
//
// note that all commands will be composed as:
// 	os-command-prefix + command-prefix + command
// as such, these values can be configured as desired.
//
// "project-directory"
//	- the directory that all commands will be executed in.
//
// "buttons"
//	- command buttons that can be executed with one click.
//
// "manual-commands" 
//	- what was manually typed into the command entry combo box.

{
	"os-command-prefix": "",
	"command-prefix": "grails",

	"project-directory": "",

	"buttons": 
	[
		{ "name": "Run", "command": "run-app" },
		{ "name": "Clean", "command": "clean" },
		{ "name": "Compile", "command": "compile" },
		{ "name": "Test", "command": "test-app unit:spock integration:spock" },
		{ "name": "Plugins", "command": "list-plugins" },
		//{ "name": "Installed", "command": "list-plugins -installed" },
		{ "name": "Updates", "command": "list-plugin-updates" },
		{ "name": "Stats", "command": "stats" }
		//{ "name": "War", "command": "war" },
		//{ "name": "Help", "command": "help" },
		//{ "name": "Version", "command": "-version" }
	],

	"manual-commands": [ "" ],

	"console-smart-output": true,
    "console-max-size": 250000,
    "console-show-command-info": true,
    "console-show-welcome-msg": true

}