// instructions on how to edit this file manually...

// all comments must be on their own line - don't try: "command-prefix": "" // comment

{
	// command prefix (on windows 'cmd /c', could also add 'griffon' in front of all cmds)
	"command-prefix": "cmd /c",
	// TODO: think about making this platform-agnostic...

	"buttons": 
	[
		{ "name": "Run", "command": "griffon run-app" },
		{ "name": "Clean", "command": "griffon clean" },
		{ "name": "Compile", "command": "griffon compile" },
		{ "name": "Test", "command": "griffon test-app unit:spock integration:spock" },
		{ "name": "Plugins", "command": "griffon list-plugins" },
		//{ "name": "Installed", "command": "griffon list-plugins -installed" },
		{ "name": "Updates", "command": "griffon list-plugin-updates" },
		{ "name": "Jar", "command": "griffon package jar" },
		{ "name": "Stats", "command": "griffon stats" },
		//{ "name": "Help", "command": "griffon help" },
		{ "name": "Version", "command": "griffon -version" }
	],

	"project-directory": "c:/eclipse_griffon/WeatherWidget"
}